<!-- This is the plce for the content of an user list -->
<div class="user-list">
  <ul>
    <li>Usuario 1</li>
    <li>Usuario 2</li>
    <li>Usuario 3</li>
    <!-- More elements -->
  </ul>
</div>
