<div class="user-list">
<h1>All Users</h1>
  <% @users.each do |user| %>
    <ul>
      <li><img src="<%= user.photo %>" alt="<%= user.name %>'s photo"></li> <!-- Foto del usuario -->
      <li><%= link_to user.name, user_path(user) %></li>
      <li>Number of posts: <%= user.posts.count %></li>
    </ul>
  <% end %>
</div>
